include examples/mac_definition_file.txt
include examples/rules.xml
include examples/sniffles_example_config.txt
include examples/test_frag.xml
include examples/test_out_of_order_n_loss.xml
include examples/test_all.xml
include examples/test_udp.xml
include README.md
include sniffles/nfa.py
include sniffles/pcre_chartables.c
include sniffles/pcre_compile.c
include sniffles/pcre_globals.c
include sniffles/pcre_internal.h
include sniffles/pcre_newline.c
inlcude sniffles/pcre_tables.c
include sniffles/pcre.h
include sniffles/pcrecomp.c
include sniffles/pcreconf.py
include sniffles/rulereader.py
include sniffles/ruletrafficgenerator.py
include sniffles/sniffles.py
include sniffles/snifflesconfig.py
include sniffles/traffic_splitter.py
include sniffles/traffic_writer.py
include sniffles/ucp.h
include sniffles/vendor_mac_list.py