include examples/example1.xml
include examples/example2.xml
include examples/hdr_features_complex.txt
include examples/hdr_features_simple.txt
include examples/mac_definition_file.txt
include examples/re_features_complex.txt
include examples/re_features_simple.txt
include examples/sniffles_example_config.txt
include LICENSE
include README.md
include sniffles/feature.py
include sniffles/nfa.py
include sniffles/pcre_chartables.c
include sniffles/pcre_compile.c
include sniffles/pcre_globals.c
include sniffles/pcre_internal.h
include sniffles/pcre_newline.c
include sniffles/pcre_tables.c
include sniffles/pcre.h
include sniffles/pcrecomp.c
include sniffles/pcreconf.py
include sniffles/rand_rule_gen.py
include sniffles/regex_generator.py
include sniffles/rule_formats.py
include sniffles/rulereader.py
include sniffles/ruletrafficgenerator.py
include sniffles/sniffles.py
include sniffles/snifflesconfig.py
include sniffles/traffic_writer.py
include sniffles/ucp.h
include sniffles/vendor_mac_list.py