include examples/example1.xml
include examples/example2.xml
include examples/hdr_features_complex.txt
include examples/hdr_features_simple.txt
include examples/mac_definition_file.txt
include examples/re_features_complex.txt
include examples/re_features_simple.txt
include examples/sniffles_example_config.txt
include LICENSE
include README.md
include src/sniffles/feature.py
include src/sniffles/nfa.py
include src/sniffles/pcre_chartables.c
include src/sniffles/pcre_compile.c
include src/sniffles/pcre_globals.c
include src/sniffles/pcre_internal.h
include src/sniffles/pcre_newline.c
include src/sniffles/pcre_tables.c
include src/sniffles/pcre.h
include src/sniffles/pcrecomp.c
include src/sniffles/pcreconf.py
include src/sniffles/rand_rule_gen.py
include src/sniffles/regex_generator.py
include src/sniffles/rule_formats.py
include src/sniffles/rulereader.py
include src/sniffles/ruletrafficgenerator.py
include src/sniffles/sniffles.py
include src/sniffles/snifflesconfig.py
include src/sniffles/traffic_writer.py
include src/sniffles/ucp.h
include src/sniffles/vendor_mac_list.py
